@import "../colors"

$navSize: 320px

.nav
  align-items: center
  background: #ffffff
  bottom: 0
  display: flex
  flex-direction: column
  justify-content: space-between
  left: 0
  padding: 40px
  position: fixed
  top: 0
  width: $navSize

.nav-logo
  box-sizing: content-box
  padding-top: 20px

.nav-item
  align-items: center
  display: flex
  font-weight: bold
  justify-content: flex-start
  margin: 5px 0
  padding: 10px
  width: 100%

  *
    color: $gray

  .on
    display: none

  &:hover,
  &[data-match="true"]
    *
      color: $blue1

    .on
      display: inline

    .off
      display: none

.nav-item-logo
  display: flex
  justify-content: center
  margin: 0 25px 10px 0
  width: 55px

.nav-lang
  display: flex
  justify-content: center
  padding-bottom: 60px

.nav-lang-item
  margin: 3px
  padding: 4px
  
.main-content
  margin-left: $navSize

