@import "../colors"

.pricing
  align-items: center
  background: linear-gradient(135deg, $teal2 0%, $green 100%)
  display: flex
  flex-direction: column
  min-height: 100vh

  > *
    font-weight: bold

.title
  margin: 20px 0

  > *
    color: $white
    margin: 0
    text-align: center

  > h2
    font-size: 36px

  > div
    font-size: 18px

.table
  display: flex
  max-width: 1024px
  width: 100%
  margin-bottom: 30px
  justify-content: center

%grid
  background: $white
  display: flex
  flex-direction: column
  border-radius: 5px

  &> .grid-row-teal:first-of-type
    padding-top: 30px
    border-radius: 5px 5px 0 0

  &> .grid-row-teal:nth-of-type(3)
    padding-bottom: 25px

  &> .grid-row:nth-of-type(4)
    padding-top: 25px

  &> .grid-row:last-of-type
    padding-bottom: 30px

.grid-teal
  @extend %grid
  background: $teal3
  flex-direction: row
  margin: 0 50px
  padding: 30px 0
  width: 100%

.grid-column-left
  @extend %grid
  margin: 0 40px 0 50px

.grid-column-right
  @extend %grid
  margin: 0 50px 0 40px

%grid-row
  display: flex
  padding: 5px 45px

.grid-row
  @extend %grid-row

.grid-row-teal
  @extend %grid-row
  background: $teal3

.row
  display: flex
  padding: 8px 0 8px 45px

.column-left
  flex: 1
  margin-right: 35px

.column-right
  flex: 1
  margin-left: 35px

%icon
  flex-basis: 32px
  text-align: center

.icon
  @extend %icon

.icon-bungalow
  @extend %icon
  align-items: center
  display: flex
  justify-content: center

%item
  display: flex
  flex-direction: column
  flex: 1
  margin-left: 10px

  > span
    margin: 5px 0

    &:first-of-type
      margin-top: 0

    &:last-of-type
      margin-bottom: 0

.item
  @extend %item

.item-teal
  @extend %item
  color: $teal2

.item-wifi
  @extend %item
  flex: inherit
  flex-basis: 60px

.item-wifi-info
  @extend %item
  flex: inherit

.item-bungalow
  @extend %item
  color: $teal2
  display: flex
  flex: inherit
  flex-basis: 150px
  justify-content: center

@import "./Pricing.mq"

