@import "../queries"

@media (max-width: $max-width-xxl)
  .nav
    width: $nav-width-xl
    padding: 30px

  .item-logo
    margin: 0 15px 8px 0
    width: 35px

  .lang
    padding-bottom: 40px

@media (max-width: $max-width-l)
  .nav
    left: -$nav-width-m
    position: fixed
    transition: left 400ms cubic-bezier(0.645, 0.045, 0.355, 1)
    width: $nav-width-m
    z-index: 3

    &[data-open="true"]
      left: 0

  .burger-open,
  .burger-close,
    display: block

  .lang
    padding-bottom: 0

  .logo > img
    width: 80%

@media (max-width: $max-width-m)
  .nav
    left: -$nav-width-s
    width: $nav-width-s

  .lang
    padding-bottom: 0

  .logo > img
    width: 70%

