.container
  height: 100vh !important
  overflow: hidden
  position: relative
  width: 100% !important

%canvas
  background-color: rgba(255, 255, 255, 1.00)
  display: block

.canvas-full-height
  @extend %canvas
  height: 100% !important
  width: auto !important

.canvas-full-width
  @extend %canvas
  height: auto !important
  width: 100% !important

.overlay
  display: none
  left: 0
  overflow: hidden
  pointer-events: none
  top: 0

@import "./Home.mq"

